.A1{
    margin-top: 3rem;
    width: 100vw;
    padding: 0 10rem 0 11rem;
}


.txt2{
    margin-top: 1rem;
    width: 49rem;
    text-align: justify;
}

.gmbar{
    margin-top: 0.5rem;
    width: 50rem;
    height: 100%;
    border-radius: 10px;
}